version: '3'

services:
  db:
    image: postgres

  solr:
    build:
      context: .
      dockerfile: Dockerfile.solr
    ports:
     - "8983:8983"
    entrypoint: [
      "/opt/docker-solr/scripts/start-solr.sh",
      "genericPage",
      "courseItem"
    ]

  web:
    environment:
     - PYTHONUNBUFFERED=1
    build:
      context: .
      dockerfile: Dockerfile.web
    command: bash scripts/start-web.sh
    volumes:
      - .:/home/sleuth
    ports:
      - "8000:8000"
    depends_on:
      - db
      - solr

  frontend:
    build:
      context: ../sleuth-frontend
    command: sh -c "yarn && yarn start --host 0.0.0.0 --port 8080 --inline --hot"
    volumes:
      - ../sleuth-frontend:/home/sleuth-frontend
    ports:
      - "8080:8080"
    depends_on:
      - web